@media (prefers-color-scheme: light) {
	:root {
		--text-50: rgb(242, 242, 242);
		--text-100: rgb(230, 230, 230);
		--text-200: rgb(204, 204, 204);
		--text-300: rgb(179, 179, 179);
		--text-400: rgb(153, 153, 153);
		--text-500: rgb(128, 128, 128);
		--text-600: rgb(102, 102, 102);
		--text-700: rgb(77, 77, 77);
		--text-800: rgb(51, 51, 51);
		--text-900: rgb(26, 26, 26);
		--text-950: rgb(13, 13, 13);

		--background-50: rgb(242, 242, 242);
		--background-100: rgb(230, 230, 230);
		--background-200: rgb(204, 204, 204);
		--background-300: rgb(179, 179, 179);
		--background-400: rgb(153, 153, 153);
		--background-500: rgb(128, 128, 128);
		--background-600: rgb(102, 102, 102);
		--background-700: rgb(77, 77, 77);
		--background-800: rgb(51, 51, 51);
		--background-900: rgb(26, 26, 26);
		--background-950: rgb(13, 13, 13);

		--primary-50: rgb(234, 229, 255);
		--primary-100: rgb(213, 204, 255);
		--primary-200: rgb(172, 153, 255);
		--primary-300: rgb(130, 102, 255);
		--primary-400: rgb(88, 51, 255);
		--primary-500: rgb(47, 0, 255);
		--primary-600: rgb(37, 0, 204);
		--primary-700: rgb(28, 0, 153);
		--primary-800: rgb(19, 0, 102);
		--primary-900: rgb(9, 0, 51);
		--primary-950: rgb(5, 0, 26);

		--secondary-50: rgb(231, 253, 247);
		--secondary-100: rgb(207, 252, 238);
		--secondary-200: rgb(159, 249, 222);
		--secondary-300: rgb(111, 246, 205);
		--secondary-400: rgb(63, 243, 189);
		--secondary-500: rgb(15, 240, 172);
		--secondary-600: rgb(12, 192, 138);
		--secondary-700: rgb(9, 144, 103);
		--secondary-800: rgb(6, 96, 69);
		--secondary-900: rgb(3, 48, 34);
		--secondary-950: rgb(2, 24, 17);

		--accent-50: rgb(231, 240, 254);
		--accent-100: rgb(207, 225, 252);
		--accent-200: rgb(159, 195, 249);
		--accent-300: rgb(110, 165, 247);
		--accent-400: rgb(62, 135, 244);
		--accent-500: rgb(14, 105, 241);
		--accent-600: rgb(11, 84, 193);
		--accent-700: rgb(8, 63, 145);
		--accent-800: rgb(6, 42, 96);
		--accent-900: rgb(3, 21, 48);
		--accent-950: rgb(1, 10, 24);

	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-50: rgb(13, 13, 13);
		--text-100: rgb(26, 26, 26);
		--text-200: rgb(51, 51, 51);
		--text-300: rgb(77, 77, 77);
		--text-400: rgb(102, 102, 102);
		--text-500: rgb(128, 128, 128);
		--text-600: rgb(153, 153, 153);
		--text-700: rgb(179, 179, 179);
		--text-800: rgb(204, 204, 204);
		--text-900: rgb(230, 230, 230);
		--text-950: rgb(242, 242, 242);

		--background-50: rgb(13, 13, 13);
		--background-100: rgb(26, 26, 26);
		--background-200: rgb(51, 51, 51);
		--background-300: rgb(77, 77, 77);
		--background-400: rgb(102, 102, 102);
		--background-500: rgb(128, 128, 128);
		--background-600: rgb(153, 153, 153);
		--background-700: rgb(179, 179, 179);
		--background-800: rgb(204, 204, 204);
		--background-900: rgb(230, 230, 230);
		--background-950: rgb(242, 242, 242);

		--primary-50: rgb(5, 0, 26);
		--primary-100: rgb(9, 0, 51);
		--primary-200: rgb(19, 0, 102);
		--primary-300: rgb(28, 0, 153);
		--primary-400: rgb(37, 0, 204);
		--primary-500: rgb(47, 0, 255);
		--primary-600: rgb(88, 51, 255);
		--primary-700: rgb(130, 102, 255);
		--primary-800: rgb(172, 153, 255);
		--primary-900: rgb(213, 204, 255);
		--primary-950: rgb(234, 229, 255);

		--secondary-50: rgb(2, 24, 17);
		--secondary-100: rgb(3, 48, 34);
		--secondary-200: rgb(6, 96, 69);
		--secondary-300: rgb(9, 144, 103);
		--secondary-400: rgb(12, 192, 138);
		--secondary-500: rgb(15, 240, 172);
		--secondary-600: rgb(63, 243, 189);
		--secondary-700: rgb(111, 246, 205);
		--secondary-800: rgb(159, 249, 222);
		--secondary-900: rgb(207, 252, 238);
		--secondary-950: rgb(231, 253, 247);

		--accent-50: rgb(1, 10, 24);
		--accent-100: rgb(3, 21, 48);
		--accent-200: rgb(6, 42, 96);
		--accent-300: rgb(8, 63, 145);
		--accent-400: rgb(11, 84, 193);
		--accent-500: rgb(14, 105, 241);
		--accent-600: rgb(62, 135, 244);
		--accent-700: rgb(110, 165, 247);
		--accent-800: rgb(159, 195, 249);
		--accent-900: rgb(207, 225, 252);
		--accent-950: rgb(231, 240, 254);

	}
}