@media (prefers-color-scheme: light) {
	:root {
		--text-50: rgb(242, 242, 242);
		--text-100: rgb(230, 230, 230);
		--text-200: rgb(204, 204, 204);
		--text-300: rgb(179, 179, 179);
		--text-400: rgb(153, 153, 153);
		--text-500: rgb(128, 128, 128);
		--text-600: rgb(102, 102, 102);
		--text-700: rgb(77, 77, 77);
		--text-800: rgb(51, 51, 51);
		--text-900: rgb(26, 26, 26);
		--text-950: rgb(13, 13, 13);

		--background-50: rgb(236, 241, 249);
		--background-100: rgb(217, 227, 242);
		--background-200: rgb(179, 199, 230);
		--background-300: rgb(140, 171, 217);
		--background-400: rgb(102, 143, 204);
		--background-500: rgb(64, 115, 191);
		--background-600: rgb(51, 92, 153);
		--background-700: rgb(38, 69, 115);
		--background-800: rgb(25, 46, 77);
		--background-900: rgb(13, 23, 38);
		--background-950: rgb(6, 11, 19);

		--primary-50: rgb(229, 238, 255);
		--primary-100: rgb(204, 221, 255);
		--primary-200: rgb(153, 187, 255);
		--primary-300: rgb(102, 153, 255);
		--primary-400: rgb(51, 119, 255);
		--primary-500: rgb(0, 85, 255);
		--primary-600: rgb(0, 68, 204);
		--primary-700: rgb(0, 51, 153);
		--primary-800: rgb(0, 34, 102);
		--primary-900: rgb(0, 17, 51);
		--primary-950: rgb(0, 8, 26);

		--secondary-50: rgb(234, 249, 250);
		--secondary-100: rgb(213, 244, 246);
		--secondary-200: rgb(171, 232, 237);
		--secondary-300: rgb(130, 221, 227);
		--secondary-400: rgb(88, 210, 218);
		--secondary-500: rgb(46, 198, 209);
		--secondary-600: rgb(37, 159, 167);
		--secondary-700: rgb(28, 119, 125);
		--secondary-800: rgb(18, 79, 84);
		--secondary-900: rgb(9, 40, 42);
		--secondary-950: rgb(5, 20, 21);

		--accent-50: rgb(255, 238, 229);
		--accent-100: rgb(255, 222, 204);
		--accent-200: rgb(255, 189, 153);
		--accent-300: rgb(255, 156, 102);
		--accent-400: rgb(255, 122, 51);
		--accent-500: rgb(255, 89, 0);
		--accent-600: rgb(204, 71, 0);
		--accent-700: rgb(153, 54, 0);
		--accent-800: rgb(102, 36, 0);
		--accent-900: rgb(51, 18, 0);
		--accent-950: rgb(26, 9, 0);

	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-50: rgb(13, 13, 13);
		--text-100: rgb(26, 26, 26);
		--text-200: rgb(51, 51, 51);
		--text-300: rgb(77, 77, 77);
		--text-400: rgb(102, 102, 102);
		--text-500: rgb(128, 128, 128);
		--text-600: rgb(153, 153, 153);
		--text-700: rgb(179, 179, 179);
		--text-800: rgb(204, 204, 204);
		--text-900: rgb(230, 230, 230);
		--text-950: rgb(242, 242, 242);

		--background-50: rgb(6, 11, 19);
		--background-100: rgb(13, 23, 38);
		--background-200: rgb(25, 46, 77);
		--background-300: rgb(38, 69, 115);
		--background-400: rgb(51, 92, 153);
		--background-500: rgb(64, 115, 191);
		--background-600: rgb(102, 143, 204);
		--background-700: rgb(140, 171, 217);
		--background-800: rgb(179, 199, 230);
		--background-900: rgb(217, 227, 242);
		--background-950: rgb(236, 241, 249);

		--primary-50: rgb(0, 8, 26);
		--primary-100: rgb(0, 17, 51);
		--primary-200: rgb(0, 34, 102);
		--primary-300: rgb(0, 51, 153);
		--primary-400: rgb(0, 68, 204);
		--primary-500: rgb(0, 85, 255);
		--primary-600: rgb(51, 119, 255);
		--primary-700: rgb(102, 153, 255);
		--primary-800: rgb(153, 187, 255);
		--primary-900: rgb(204, 221, 255);
		--primary-950: rgb(229, 238, 255);

		--secondary-50: rgb(5, 20, 21);
		--secondary-100: rgb(9, 40, 42);
		--secondary-200: rgb(18, 79, 84);
		--secondary-300: rgb(28, 119, 125);
		--secondary-400: rgb(37, 159, 167);
		--secondary-500: rgb(46, 198, 209);
		--secondary-600: rgb(88, 210, 218);
		--secondary-700: rgb(130, 221, 227);
		--secondary-800: rgb(171, 232, 237);
		--secondary-900: rgb(213, 244, 246);
		--secondary-950: rgb(234, 249, 250);

		--accent-50: rgb(26, 9, 0);
		--accent-100: rgb(51, 18, 0);
		--accent-200: rgb(102, 36, 0);
		--accent-300: rgb(153, 54, 0);
		--accent-400: rgb(204, 71, 0);
		--accent-500: rgb(255, 89, 0);
		--accent-600: rgb(255, 122, 51);
		--accent-700: rgb(255, 156, 102);
		--accent-800: rgb(255, 189, 153);
		--accent-900: rgb(255, 222, 204);
		--accent-950: rgb(255, 238, 229);

	}
}