.cstm-toast {
  padding: 1rem;
  border-radius: 1rem;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.cstm-toast.show {
  animation-name: slideInRight;
}

.cstm-toast.hide {
  animation-name: slideOutRight;
}

.cstm-toast-header {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.cstm-toast-title {
  font-weight: var(--semibold);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cstm-toast-content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 0.5rem;
}

.cstm-toast-description {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.success {
  background-color: var(--bs-success);
  color: var(--text-950);
}

.danger {
  background-color: var(--bs-danger);
  color: var(--text-950);
}

.warning {
  background-color: var(--bs-warning);
  color: var(--text-50);
}

.primary {
  background-color: var(--primary-500);
  color: var(--text-950);
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}


@media (max-width: 800px) {
  .cstm-toast {
    padding: 0.6rem;
  }

  .cstm-toast-header {
    gap: 0.3rem;
  }

  .cstm-toast-title {
    -webkit-line-clamp: 1;
  }

  .cstm-toast-content {
    margin-top: 0.3rem;
  }

  .cstm-toast-description {
    -webkit-line-clamp: 2;
  }
}