<div class="product-root">

  <div class="product-content" *ngIf="!isLoading && product !== null">
    <div class="product-header">
      <span class="material-symbols-outlined go-back-arrow" (click)="goBack()" type="button">arrow_back</span>
      <span class="material-symbols-outlined" type="button" [appOpenModal]="statisticsModal">monitoring</span>
    </div>
    <div class="product-body">
      <div class="product-image-section">
        <img [src]="'assets/product-images/' + product.image"
          onerror="if (this.src != 'assets/product-images/no-product-image.png') this.src = 'assets/product-images/no-product-image.png'"
          alt="Product Image" class="product-image" />
      </div>
      <div class="product-description-section">
        <h2 class="product-title">{{product.title}}</h2>

        <div class="additional-product-info">
          <div *ngIf="productService.isFilm(product)">
            <div class="addition-info-row">
              <h6 class="title">Director:</h6>
              <span>{{ product.director }}</span>
            </div>
            <div class="addition-info-row">
              <h6 class="title">Duration:</h6>
              <span>{{ product.duration | timeFormat }}</span>
            </div>
            <div class="addition-info-row addition-info-row-description">
              <h6 class="title">Description:</h6>
              <p class="scrollable-description"> {{ product.description }}</p>
            </div>
          </div>

          <div *ngIf="productService.isBook(product)">
            <div class="addition-info-row">
              <h6 class="title">Author:</h6>
              <span>{{ product.author }}</span>
            </div>
            <div class="addition-info-row">
              <h6 class="title">Publisher:</h6>
              <span>{{ product.publisher }}</span>
            </div>
            <div class="addition-info-row">
              <h6 class="title">ISBN:</h6>
              <span>{{ product.isbn }}</span>
            </div>
            <div class="addition-info-row addition-info-row-description">
              <h6 class="title">Description:</h6>
              <p class="scrollable-description"> {{ product.description }}</p>
            </div>
          </div>

          <div *ngIf="productService.isMusic(product)">
            <div class="addition-info-row">
              <h6 class="title">Artist:</h6>
              <span>{{ product.artist }}</span>
            </div>
            <div class="addition-info-row">
              <h6 class="title">Producer:</h6>
              <span>{{ product.producer }}</span>
            </div>
            <div class="addition-info-row">
              <h6 class="title">Duration:</h6>
              <span>{{ product.duration | timeFormat }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feedback-section" *ngIf="!isLoadingFeedback">
      <app-cstm-input-field [(inputElement)]="feedback" [rows]="4" [cols]="50" [resizable]="false" [textarea]="true"
        [placeholder]="'Write your feedback here...'" [label]="'Your feedback'"></app-cstm-input-field>
      <span class="text-danger">{{analyzingError}}</span>
      <app-cstm-button class="send-feedback-btn" [text]="'Send Feedback!'" (clicked)="sendFeedback()"></app-cstm-button>
    </div>

    <div class="product-content loading-content" *ngIf="isLoadingFeedback">
      <app-loading-spinner></app-loading-spinner>
    </div>

  </div>

  <div class="product-content loading-content" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>


  <div class="product-content" *ngIf="!isLoading && product === null">
    <span class="text-danger">No product with this specific Id</span>
  </div>


  <app-cstm-modal #statisticsModal [title]="'Product statistics'" (modalOpened)="statisticsContent.onModalOpened()"
    (modalClosed)="statisticsContent.onModalClosed()" [size]="'large'">
    <app-statistics-modal-content #statisticsContent [productId]="product?.id"></app-statistics-modal-content>
  </app-cstm-modal>
</div>