.product-root {
  width: 100%;

  display: flex;
  justify-content: center;
}

.product-content {
  max-width: 1200px;
  height: 100%;
  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.product-header {
  width: 100%;
}

.go-back-arrow {
  margin-left: auto;
}

.product-body {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--background-500);
}

.product-image-section {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.3rem;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;

  object-fit: contain;
  border-radius: 0.3rem;
}

.product-description-section {
  flex: 1;
}

.addition-info-row {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
  margin-bottom: 0.2rem;
}

.addition-info-row>.title {
  font-weight: var(--bold);
  margin-bottom: 0.1rem;
  text-decoration: underline;
}

.addition-info-row-description {
  flex-direction: column;
}

.scrollable-description {
  padding-right: 0.7rem;
  max-height: 150px;
  overflow: auto;
}

.feedback-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 90%;
}

.send-feedback-btn {
  margin-left: auto;
}

.loading-content {
  align-items: center;
  justify-content: center;
}