.toast-container {
  width: 300px;
  height: 500px;

  display: flex;
  flex-direction: column;

  background-color: rgba(255, 0, 0, 0.295);
  position: absolute;
  z-index: 9000;
  top: 2rem;
  right: 2rem;

  overflow: hidden;
}