<div class="dashboard-root">
  <div class="choose-product-container">
    <button class="choose-product-btn">
      <span class="material-symbols-outlined">movie</span>
      <span class="product-type-name">Movies</span>
    </button>
    <button class="choose-product-btn">
      <span class="material-symbols-outlined">music_note</span>
      <span class="product-type-name">Music</span>
    </button>
    <button class="choose-product-btn">
      <span class="material-symbols-outlined">book</span>
      <span class="product-type-name">Books</span>
    </button>
  </div>

  <div class="searchbar-root">
    <div class="cstm-input-field cstm-searchbar-container">
      <input type="text" placeholder="Search product..." class="cstm-input-searchbar"
        [(ngModel)]="productSearchingName">
      <button type="button" class="cstm-btn btn-searchbar">
        <span class="material-symbols-outlined"> search </span>
      </button>
    </div>
  </div>







  <div class="feedback-container">
    <div class="cstm-input-field-container">
      <label class="cstm-input-field-label">Feedback</label>
      <textarea class="cstm-input-field" placeholder="Insert feedback here..." [(ngModel)]="feedback"
        [disabled]="isLoading"></textarea>
    </div>

    <button type="button" class="cstm-btn btn-primary analyze-feedback-btn" (click)="analyzeFeedback()"
      [disabled]="isLoading">
      <span class="cstm-btn-text"> Analyze feedback </span>
    </button>

    <ng-container class="feedback-response-container" *ngIf="!isAnalyzedFeedbackEmpty">
      <h2 class="analyzed-feedback-title">Feedback Response:</h2>
      <span class="analyzed-feedback-text">Sentiment: {{analyzedFeedback?.sentiment}}</span>
      <span class="analyzed-feedback-text">Positive Score: {{analyzedFeedback?.positive_score}}</span>
      <span class="analyzed-feedback-text">Negative Score: {{analyzedFeedback?.negative_score}}</span>
      <span class="analyzed-feedback-text">Neutral Score: {{analyzedFeedback?.neutral_score}}</span>
      <span class="analyzed-feedback-text">Mixed Score: {{analyzedFeedback?.mixed_score}}</span>
    </ng-container>

    <span class="error-message text-danger">{{error}}</span>
  </div>

  <div class="loading-container" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>