<div class="dashboard-root">
  <div class="choose-product-container">
    <app-choose-product-btn [text]="'Movies'" [symbol]="'movie'"
      (clicked)="retrieveProductsFromType($event.productType)" [(selectedProductType)]="selectedProductType"
      [productType]="productType.movies"></app-choose-product-btn>

    <app-choose-product-btn [text]="'Music'" [symbol]="'music_note'"
      (clicked)="retrieveProductsFromType($event.productType)" [(selectedProductType)]="selectedProductType"
      [productType]="productType.music"></app-choose-product-btn>

    <app-choose-product-btn [text]="'Books'" [symbol]="'book'" (clicked)="retrieveProductsFromType($event.productType)"
      [(selectedProductType)]="selectedProductType" [productType]="productType.books"></app-choose-product-btn>
  </div>

  <div class="searchbar-root">
    <app-cstm-searchbar [placeholder]="'Search product...'" [searchingInput]="productSearchingName">
    </app-cstm-searchbar>
  </div>

  <span>{{selectedProductType}}</span>



  <div class="test-modal">
    <button [appOpenModal]="filmModal" type="button" (click)="setSpecificProductId(getRandomInt)">Open modal</button>

    <app-cstm-modal #filmModal [title]="'Write a feeedback'" [size]="'medium'">
      <app-product-feedback-content [productId]="specificProductId"></app-product-feedback-content>
    </app-cstm-modal>
  </div>


  <div class="feedback-container">
    <div class="cstm-input-field-container">
      <label class="cstm-input-field-label">Feedback</label>
      <textarea class="cstm-input-field" placeholder="Insert feedback here..." [(ngModel)]="feedback"
        [disabled]="isLoading"></textarea>
    </div>

    <app-cstm-button [disabled]="isLoading" [text]="'Analyze feedback'" [type]="'primary'" [symbol]="null"
      (clicked)="analyzeFeedback()" class="analyze-feedback-btn"></app-cstm-button>

    <ng-container class="feedback-response-container" *ngIf="!isAnalyzedFeedbackEmpty">
      <h2 class="analyzed-feedback-title">Feedback Response:</h2>
      <span class="analyzed-feedback-text">Sentiment: {{analyzedFeedback?.sentiment}}</span>
      <span class="analyzed-feedback-text">Positive Score: {{analyzedFeedback?.positive_score}}</span>
      <span class="analyzed-feedback-text">Negative Score: {{analyzedFeedback?.negative_score}}</span>
      <span class="analyzed-feedback-text">Neutral Score: {{analyzedFeedback?.neutral_score}}</span>
      <span class="analyzed-feedback-text">Mixed Score: {{analyzedFeedback?.mixed_score}}</span>
    </ng-container>

    <span class="error-message text-danger">{{error}}</span>
  </div>

  <div class="loading-container" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>