.navbar-root {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.9rem;

  background-color: var(--background-950);
  color: var(--text-50);
}

.logo-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo-container {
  height: var(--navbar-height);
  padding: 0.5rem;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container .logo {
  max-height: 100%;
  max-width: 100%;

  object-fit: contain;
}