.navbar-root {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  background-color: var(--background-100);
  color: var(--text-950);
}

.logo-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.logo-container {
  height: var(--navbar-height);
  padding: 0.7rem;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container .logo {
  max-height: 100%;
  max-width: 100%;

  object-fit: contain;
}